<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs499.project.macbook.homekitchen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArabicFood"
            android:label="@string/title_activity_ArabicFood" />
        <activity
            android:name=".AmericanFood"
            android:label="@string/title_activity_AmericanFood" />
        <activity
            android:name=".ChinessFood"
            android:label="@string/title_activity_ChinessFood" />

        <activity
            android:name=".DetailActivity"
            android:label="DetailActivity"/>

        <activity
            android:name=".MaxicanFood"
            android:label="@string/title_activity_MaxicanFood"></activity>
    </application>

</manifest>